In [6]:
from scipy.stats import laplace, poisson
import matplotlib.pyplot as plt
import numpy as np
import matplotlib.pylab as pylab
import seaborn as sns
sns.set()
import pandas as pd
import scipy.stats as sts
import math
p_lambda=5
sample_1000 = poisson.rvs(p_lambda, size=1000)


def omp_poisson(sample_p):
    return np.mean(sample_p)


def probs_pois(x):
    d = list(
        map(
            lambda z: ((omp_poisson(sample_1000)**z * np.exp(-omp_poisson(
                sample_1000))) / math.factorial(z)), x))
    return d


UniqueVal, CountFreq = np.unique(sample_1000, return_counts=True)
df = pd.DataFrame({'k': UniqueVal, 'n_k': CountFreq})
df['pbility_k'] = probs_pois(UniqueVal)
indexNam = df[df['n_k'] < 0.001 * (df['n_k'].sum())].index
df.drop(indexNam, inplace=True)
df['npbility_k'] = df['n_k'].sum() * df['pbility_k']
df['xi'] = (df['n_k'] - df['npbility_k'])**2 / df['npbility_k']
print(
    f"{'n = ' +str(len(sample_1000))}, {'статистика Пирсона = '+str(np.around((df['xi']).sum(),2))}, {'оцениваемый параметр = ' + str(omp_poisson(sample_1000))},{' количество степеней свободы = '+str(len(df['k'])-2)}"
)

n = 1000, статистика Пирсона = 19.28, оцениваемый параметр = 5.039, количество степеней свободы = 12

In [7]:
df

     k  n_k  pbility_k  npbility_k        xi
0    0   11   0.006480    6.480225  3.152416
1    1   37   0.032654   32.653855  0.578461
2    2   66   0.082271   82.271388  3.218106
3    3  146   0.138189  138.188509  0.441566
4    4  195   0.174083  174.082974  2.513296
5    5  159   0.175441  175.440821  1.540694
6    6  131   0.147341  147.341050  1.812325
7    7  101   0.106065  106.064507  0.241827
8    8   81   0.066807   66.807381  3.015092
9    9   35   0.037405   37.404711  0.154596
10  10   25   0.018848   18.848234  2.007840
11  11    7   0.008634    8.634204  0.309308
12  12    4   0.003626    3.625646  0.038653
13  13    2   0.001405    1.405356  0.251610

In [8]:
sample_10000 = poisson.rvs(p_lambda, size=10000)


def omp_poisson(sample_p):
    return np.mean(sample_p)


def probs_pois(x):
    d = list(
        map(
            lambda z: ((omp_poisson(sample_10000)**z * np.exp(-omp_poisson(
                sample_10000))) / math.factorial(z)), x))
    return d


UniqueVal, CountFreq = np.unique(sample_10000, return_counts=True)
df = pd.DataFrame({'k': UniqueVal, 'n_k': CountFreq})
df['pbility_k'] = probs_pois(UniqueVal)
indexNam = df[df['n_k'] < 0.001 * (df['n_k'].sum())].index
df.drop(indexNam, inplace=True)
df['npbility_k'] = df['n_k'].sum() * df['pbility_k']
df['xi'] = (df['n_k'] - df['npbility_k'])**2 / df['npbility_k']
print(
    f"{'n = ' +str(len(sample_10000))}, {'статистика Пирсона = '+str(np.around((df['xi']).sum(),2))}, {'оцениваемый параметр = ' + str(omp_poisson(sample_10000))},{' количество степеней свободы = '+str(len(df['k'])-2)}"
)

n = 10000, статистика Пирсона = 9.87, оцениваемый параметр = 5.0103, количество степеней свободы = 12

In [9]:
df

     k   n_k  pbility_k   npbility_k        xi
0    0    59   0.006669    66.642341  0.876400
1    1   346   0.033413   333.898121  0.438623
2    2   807   0.083705   836.464879  1.037915
3    3  1450   0.139796  1396.979994  2.012284
4    4  1733   0.175105  1749.822216  0.161723
5    5  1772   0.175466  1753.426849  0.196736
6    6  1457   0.146522  1464.199091  0.035396
7    7  1037   0.104875  1048.010958  0.115687
8    8   619   0.065682   656.356163  2.126106
9    9   391   0.036565   365.393476  1.794488
10  10   183   0.018320   183.073093  0.000029
11  11    86   0.008344    83.386465  0.081915
12  12    36   0.003484    34.815934  0.040269
13  13    17   0.001343    13.418329  0.956033

In [10]:
sample_100000 = poisson.rvs(p_lambda, size=100000)


def omp_poisson(sample_p):
    return np.mean(sample_p)


def probs_pois(x):
    d = list(
        map(
            lambda z: ((omp_poisson(sample_100000)**z * np.exp(-omp_poisson(
                sample_100000))) / math.factorial(z)), x))
    return d


UniqueVal, CountFreq = np.unique(sample_100000, return_counts=True)
df = pd.DataFrame({'k': UniqueVal, 'n_k': CountFreq})
df['pbility_k'] = probs_pois(UniqueVal)
indexNam = df[df['n_k'] < 0.001 * (df['n_k'].sum())].index
df.drop(indexNam, inplace=True)
df['npbility_k'] = df['n_k'].sum() * df['pbility_k']
df['xi'] = (df['n_k'] - df['npbility_k'])**2 / df['npbility_k']
print(
    f"{'n = ' +str(len(sample_100000))}, {'статистика Пирсона = '+str(np.around((df['xi']).sum(),2))}, {'оцениваемый параметр = ' + str(omp_poisson(sample_100000))},{' количество степеней свободы = '+str(len(df['k'])-2)}"
)

n = 100000, статистика Пирсона = 8.39, оцениваемый параметр = 5.00063, количество степеней свободы = 12

In [11]:
df

     k    n_k  pbility_k    npbility_k        xi
0    0    683   0.006734    673.006723  0.148387
1    1   3363   0.033673   3365.457609  0.001795
2    2   8508   0.084193   8414.704142  1.034394
3    3  14076   0.140339  14026.273991  0.176289
4    4  17552   0.175445  17535.051626  0.016381
5    5  17382   0.175467  17537.261043  1.374559
6    6  14481   0.146241  14616.225615  1.251073
7    7  10436   0.104471  10441.476614  0.002873
8    8   6636   0.065303   6526.745150  1.828878
9    9   3695   0.036284   3626.426400  1.296687
10  10   1830   0.018144   1813.441665  0.151192
11  11    810   0.008248    824.395527  0.251373
12  12    353   0.003437    343.541417  0.260419
13  13    141   0.001322    132.147963  0.592961