In [49]:
import math
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd


def exp_m(n,lam):
    T_m = []
    la = lam
    for i in range(n):
        T = np.random.random_sample() #случайная величина из равномерного распределения
        xi = -math.log(T)/la #случайная величина распределенная экспоненциально(получена с помощью обратной функции)
        T_m.append(xi)
    return(T_m)

In [50]:
g1=exp_m(100000,0.7)

In [51]:
hist, bin_edges = np.histogram(g1, bins = 'doane')

In [52]:
hist

array([39404, 23772, 14454,  8826,  5312,  3306,  1925,  1182,   702,
         446,   261,   163,    94,    63,    41,    20,    12,     6,
           4,     4,     1,     1,     0,     0,     0,     1],
      dtype=int64)

In [53]:
bin_edges

array([1.36606348e-05, 7.15972789e-01, 1.43193192e+00, 2.14789104e+00,
       2.86385017e+00, 3.57980930e+00, 4.29576843e+00, 5.01172756e+00,
       5.72768668e+00, 6.44364581e+00, 7.15960494e+00, 7.87556407e+00,
       8.59152320e+00, 9.30748232e+00, 1.00234415e+01, 1.07394006e+01,
       1.14553597e+01, 1.21713188e+01, 1.28872780e+01, 1.36032371e+01,
       1.43191962e+01, 1.50351553e+01, 1.57511145e+01, 1.64670736e+01,
       1.71830327e+01, 1.78989919e+01, 1.86149510e+01])

In [54]:
ar = bin_edges

In [55]:
df_exp = pd.DataFrame({'midlle_values': (ar[:-1] + ar[1:])/2})

In [56]:
df_exp['number_in_interval'] = hist

In [57]:
def omp(x):
    return np.mean(x)
omp_exp=omp(g1)
omp_exp=1/omp_exp
omp_exp

0.6985465693350361

In [58]:
df_exp['Theor_prob'] =  np.exp(-omp_exp * ar[:-1]) -  np.exp(-omp_exp * ar[1:])

In [59]:
df_exp['np_i'] = df_exp['number_in_interval'].sum()*df_exp['Theor_prob']

In [60]:
df_exp['n_i-np_i'] = df_exp['number_in_interval'] - df_exp['np_i']
df_exp['(n_i-np_i)^2'] = df_exp['n_i-np_i']**2
df_exp['(n_i - np_i)^2/np_i'] = df_exp['(n_i-np_i)^2']/df_exp['np_i']

In [61]:
df_exp

,midlle_values,number_in_interval,Theor_prob,np_i,n_i-np_i,(n_i-np_i)^2,(n_i - np_i)^2/np_i
0,0.357993,39404,0.393545,39354.490938,49.509062,2451.147183,0.062284
1,1.073952,23772,0.238666,23866.583574,-94.583574,8946.052499,0.374836
2,1.789911,14454,0.144739,14473.921474,-19.921474,396.865137,0.027419
3,2.505871,8826,0.087777,8777.729003,48.270997,2330.089143,0.265455
4,3.221830,5312,0.053233,5323.265474,-11.265474,126.910895,0.023841
5,3.937789,3306,0.032283,3228.301454,77.698546,6037.064069,1.870043
6,4.653748,1925,0.019578,1957.807727,-32.807727,1076.346951,0.549772
7,5.369707,1182,0.011873,1187.315110,-5.315110,28.250395,0.023794
8,6.085666,702,0.007200,720.048834,-18.048834,325.760399,0.452414
9,6.801625,446,0.004367,436.674577,9.325423,86.963522,0.199149
10,7.517585,261,0.002648,264.821880,-3.821880,14.606767,0.055157
11,8.233544,163,0.001606,160.601583,2.398417,5.752405,0.035818
12,8.949503,94,0.000974,97.397044,-3.397044,11.539910,0.118483
13,9.665462,63,0.000591,59.066568,3.933432,15.471891,0.261940
14,10.381421,41,0.000358,35.820999,5.179001,26.822054,0.748780
15,11.097380,20,0.000217,21.723693,-1.723693,2.971116,0.136768
16,11.813339,12,0.000132,13.174362,-1.174362,1.379127,0.104683
17,12.529298,6,0.000080,7.989610,-1.989610,3.958546,0.495462
18,13.245258,4,0.000048,4.845309,-0.845309,0.714548,0.147472
19,13.961217,4,0.000029,2.938444,1.061556,1.126900,0.383502
20,14.677176,1,0.000018,1.782024,-0.782024,0.611561,0.343183
21,15.393135,1,0.000011,1.080711,-0.080711,0.006514,0.006028
22,16.109094,0,0.000007,0.655398,-0.655398,0.429547,0.655398
23,16.825053,0,0.000004,0.397467,-0.397467,0.157980,0.397467
24,17.541012,0,0.000002,0.241045,-0.241045,0.058102,0.241045
25,18.256971,1,0.000001,0.146182,0.853818,0.729006,4.986980

In [62]:
df_exp['Theor_prob'].sum()

0.9999882048214906

In [63]:
chi_squared_exp = df_exp['(n_i - np_i)^2/np_i'].sum()
print(chi_squared_exp)

12.967173452494782

In [64]:
df_exp['number_in_interval'].count()-2

24